<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/styles.css">
  <title>Medication Management</title>
</head>
<body>
  <h1 id="title"> Medication Management </h1>
  <h2 id="heading">Main Menu</h3>
</body
<div>
  <a href="view_meds.html"><button type="button">VIEW MEDICATION LIST</button></a><br><br>
  <a href="../static/add_meds.html"><button type="button">ADD TO MEDICATIONS LIST</button></a><br><br>
  <a href="view_patients.html"><button type="button">VIEW PATIENTS</button></a><br><br>
  <a href="../static/add_patients.html"><button type="button">ADD NEW PATIENT</button></a><br><br>
  <a href="view_patmeds.html"><button type="button">VIEW PATIENT MEDICATIONS</button></a><br><br>
  <a href="patients_addmed.html"><button type="button">ADD MEDICATION TO PATIENTS</button></a><br><br>
  <a href="patients_delmed.html"><button type="button">DELETE MEDICATION FROM PATIENTS</button></a><br><br>
</div>
<p>{{message}}</p>
</html>
